html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
* {
  font-family: Roboto;
}

h1 {
  color: transparent;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 1000;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #a855f7, #ec4899);
  margin: 0;
}
h1.gameover {
  background-image: linear-gradient(to right, #ff4766, #ff7f47);
}

#trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#game {
  border-radius: 1rem;
  border: 2px solid black;
  aspect-ratio: 16 / 9;
  width: 100%;
  padding: 0.5rem;
}

main,
.menu-parametres {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-parametres > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.menu-parametres label,
.menu-parametres span {
  font-size: 1.2rem;
}

.cacher,
.cacher * {
  display: none;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 5rem;
  }
}

// Container
#game {
  width: 100%;
}
@media (min-width: 640px) {
  #game {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  #game {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  #game {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  #game {
    max-width: 1280px;
  }
}
/* @media (min-width: 1536px) {
  #game {
    max-width: 1536px;
  }
} */


// checkbox ronde (style Android)
.switch-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 34px;
}
.switch-container-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #a855f7;
}
input:focus + .slider {
  box-shadow: 0 0 1px #a855f7;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}